.contact{
    width:60%;
    margin:auto;
    margin-top:50px;
}

.contact-form {
    padding:20px;
    border: 1px solid rgb(197, 193, 193);
    border-radius:10px;
    box-shadow:0px 5px 15px;
    margin-top:20px;
}

.contact-form .input{
    outline:none;
    width:100%;
    margin:auto;
    /* padding:5px; */
    border:none;
    border-bottom: 1px solid rgb(197, 193, 193);
    height:40px;
}

@media only screen and (max-width:800px){
    .contact{
        width:80%;
    }
}

@media only screen and (max-width:550px){
    .contact{
        width:90%;
    }
}
